.value {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    font-weight: 700;
}
.value_left {
    left: .5em;
}
.value_right {
    right: .5em;
}

.bar {
    border-right: 6px solid #ffffff !important;
    border-radius: 0.3em !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.bar_background {
    border-radius: 0.3em !important;
    line-height: 1;
}