.container p {
    margin-bottom: 1.5em !important;
    font-size: 1.5em !important;
}

.container button {
    margin-bottom: 8px !important;
}
.container button:last-of-type {
    margin-bottom: 0 !important;
}

.button_back {
    margin-top: 3em !important;
}